<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./output.css">
    <title>Document</title>

</head>
<body>
    
<!-- 
    <div class="text-center text-4xl bg-green-400">Anshul</div>
    <hr>
    <div class="w-1/2 text-center text-4xl bg-green-400">Anshul</div>
    <hr>
    <div class="m-auto text-center text-4xl bg-green-400">Anshul</div>
    <hr>
    <div class="w-1/2 m-auto text-center text-4xl bg-green-400">Anshul</div>
    <hr>
    <div class="w-1/2 mx-10 text-center text-4xl bg-green-400">Anshul</div>


    <div class="bg-red-400 h-80 mx-12 flex justify-center items-center  ">
        <p class="text-white underline 
            m-10 md:m-16 lg:m-24 xl:m-32 2xl:m-40
            bg-pink-500  md:bg-green-500 lg:bg-twitter-blue xl:bg-slate-400 2xl:bg-red-900
            ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ipsa nesciunt non saepe. Voluptates, repudiandae harum quam facilis mollitia perferendis minus accusantium nulla rem alias sed, sunt cumque commodi, officia voluptatibus veniam! Impedit accusantium quos qui odit, aliquid odio praesentium sint? Quis temporibus quasi animi atque fugit, fuga vitae molestias architecto sapiente, eaque sint. Rem expedita doloribus natus earum quam delectus harum aliquam aut quo dolores quaerat ducimus adipisci cupiditate, repudiandae accusamus consequuntur maiores error incidunt vitae dignissimos, nesciunt consequatur totam magni nobis? Delectus, ipsam. Accusantium inventore iure aperiam velit illo mollitia voluptate veritatis. Consectetur, natus vel. Tempore, ad adipisci?
        </p>
    </div>
 -->

<!-- 
    <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 ">
        <div class="min-h-[100px] rounded-lg bg-orange-300 shadow">1</div>
        <div class="min-h-[100px] rounded-lg bg-orange-300 shadow">2</div>
        <div class="min-h-[100px] rounded-lg bg-orange-300 shadow">3</div>
        <div class="min-h-[100px] rounded-lg bg-orange-300 shadow">4</div>
        <div class="min-h-[100px] rounded-lg bg-orange-300 shadow">5</div>
        <div class="min-h-[100px] rounded-lg bg-twitter-blue shadow">6</div>
        <div class="min-h-[100px] rounded-lg bg-twitter-blue shadow">7</div>
        <div class="min-h-[100px] rounded-lg bg-twitter-blue shadow">8</div>
        <div class="min-h-[100px] rounded-lg bg-twitter-blue shadow">9</div>
        <div class="min-h-[100px] rounded-lg bg-twitter-blue shadow">10</div>
    </div>
 -->



<!-- 
<div class="grid gap-4 sm:grid-cols-12  ">
    <div class="sm:col-span-2       min-h-[100px] rounded-lg bg-orange-300 shadow">1</div>
    <div class="sm:col-span-8       min-h-[100px] rounded-lg bg-orange-300 shadow">2</div>
    <div class="sm:col-span-2       min-h-[100px] rounded-lg bg-orange-300 shadow">3</div>
</div>
 -->



<!-- below md - right is hidden -->
<!-- 
<div class="grid gap-4 md:grid-cols-12  ">
    <div class="md:col-span-2                       min-h-[100px] rounded-lg bg-orange-300 shadow">1</div>
    <div class="md:col-span-8                       min-h-[100px] rounded-lg bg-orange-300 shadow">2</div>
    <div class="md:col-span-2   sm:block hidden     min-h-[100px] rounded-lg bg-orange-300 shadow">3</div>
</div>
 -->



 <!-- below md - right is hidden , below sm - left also hidden  -->

 <div class="grid gap-4 md:grid-cols-12 sm:grid-cols-12 ">
    <div class="md:col-span-2                   sm:col-span-2 sm:block      hidden              min-h-[100px] rounded-lg bg-orange-300 shadow">1</div>
    <div class="md:col-span-8                   sm:col-span-10                                  min-h-[100px] rounded-lg bg-orange-300 shadow">2</div>
    <div class="md:col-span-2 md:block          hidden                                          min-h-[100px] rounded-lg bg-orange-300 shadow">3</div>
</div>



</body>
</html>